<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All persons</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <h1>All persons</h1>
    <main>
      <table>
        <thead>
          <tr>
            <th>PersonID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(person =>{ %>
            <tr>
              <td><%= person.personID %></td>
              <td><%= person.firstname %></td>
              <td><%= person.lastname %></td>
              <td><%= person.department %></td>
              <td><%= person.salary %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </main>

  </body>
</html>
